* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #11111b;
    color: white;
    width: 100vw;
}

.my-project{
    display: flex;
    flex-wrap: wrap;
}

.project{
    padding: 20px;
    background-color: #1c1c26;
    border-radius: 10px;
}

.project-img{
    width: 250px;
    border-radius: 10px;
}

.project-tech{
    margin-top: 10px;
    display: flex;
    width: 250px;
    flex-wrap: wrap;
    gap: 5px;
}

.project-tech-div{
    background-color: #EC42571A;
    font-size: 12px;
    padding: 2px 8px;
    color: #EC4257;
    border: 1px solid;
    border-radius: 5px;
}

.project-title{
    margin-top: 10px;
    font-size: 24px;
}

.project-desc{
    margin-top: 10px;
    font-size: 14px;
}

.project-btn-div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}

.project-code{
    background-color: #EC4257;
    padding: 8px 24px;
    color: white;
    border: none;
    border-radius: 5px;
}
.project-code:hover{
    cursor: pointer;
}

.project-live{
    padding: 8px 24px;
    border: 1px solid #EC4257;
    background-color: transparent;
    color: #EC4257;
    border-radius: 5px;
}
.project-live:hover{
    cursor: pointer;
    background-color: rgba(236, 66, 87, 0.05);
}
