html {
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #11111b;
    color: white;
    width: 100vw;
}

a {
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

header nav ul li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    position: relative;
}

header nav ul li a:hover {
    top: 3px;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#hed {
    margin-top: 20px;
}

.main-name h1 {
    font-family: 'Explora', cursive;
    letter-spacing: 4px;
}

.sun {
    cursor: pointer;
}

/* Bars Hidden */
.bars {
    display: none;
    cursor: pointer;
    width: 20px;
}

.nav_menu {
    position: absolute;
    height: 0px;
    display: none;
    width: 120px;
    background-color: rgba(236, 66, 87);
    right: 10px;
    top: 10px;
    transition: height 2s;
    border-radius: 10px;
    border: 2px solid #ec4257;
    box-shadow: 3px 3px rgba(236, 66, 87, 0.3);
}

.hig {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

.nav_menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}



/* Bars End */


/* Hero Section */
.hero {
    position: relative;
    height: 700px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-around;
}

.hero-left {
    flex-basis: 500px;
}

.hero-right {
    flex-basis: 300px;
    display: flex;
}

.hero-right img {
    transition: height 1.5s, width 1.5s;
    height: 450px;
    width: 450px;
}

#hey {
    font-size: 30px;
    display: block;
}

#i-am-kenil {
    font-size: 72px;
    display: block;
    margin: 10px 0;
}

#i-am-kenil span {
    color: #ec4257;
}

#developer span {
    color: #ec4257;
}

#developer {
    font-size: 20px;
    display: block;
}

#see-my-eork-btn {
    padding: 10px;
    background-color: #ec4257;
    border-radius: 5px 13px;
    margin-top: 20px;
    border: none;
    color: white;
    font-size: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: gap .5s;
}

#see-my-eork-btn div {
    width: 20px;
}

#see-my-eork-btn:hover {
    gap: 20px;
    cursor: pointer;
}





/* About Me */
.about-me-text {
    font-size: 48px;
    margin: 40px 0 80px;
    text-align: center;
}

.about {
    text-decoration-line: underline;
    text-decoration-color: #ec4257;
}

.me {
    color: #ec4257;
}

.about-me-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.about-me-left {
    max-width: 440px;
}

.about-me-right {
    max-width: 395px;
    min-width: 320px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    transform: scale(1.2);
}

.pc {
    margin-bottom: 5px;
    text-align: justify;
}

.lang {
    background-color: #1c1c26;
    border-radius: 5px;
    width: 80px;
    padding: 20px 20px 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.lang p {
    font-size: 12px;
}







/* My Projects Section */
.my-project-text {
    text-align: center;
    margin: 80px 0 80px;
    font-size: 48px;
}

.my {
    color: #EC4257;
}

.project_ {
    text-decoration-line: underline;
    text-decoration-color: #ec4257;
}

.my-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
}

.project {
    padding: 20px;
    background-color: #1c1c26;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.project:hover {
    transform: scale(1.15);
    border: 2px solid #EC4257;
}

.project-img {
    width: 250px;
    border-radius: 10px;
}

.project-tech {
    margin-top: 10px;
    display: flex;
    width: 250px;
    flex-wrap: wrap;
    gap: 5px;
}

.project-tech-div {
    background-color: #EC42571A;
    font-size: 12px;
    padding: 2px 8px;
    color: #EC4257;
    border: 1px solid;
    border-radius: 5px;
}

.project-title {
    margin-top: 10px;
    font-size: 24px;
}

.project-desc {
    margin-top: 10px;
    font-size: 14px;
}

.project-btn-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}

.project-code {
    background-color: #EC4257;
    padding: 8px 24px;
    color: white;
    border: none;
    border-radius: 5px;
}

.project-code:hover {
    cursor: pointer;
}

.project-live {
    padding: 8px 24px;
    border: 1px solid #EC4257;
    background-color: transparent;
    color: #EC4257;
    border-radius: 5px;
}

.project-live:hover {
    cursor: pointer;
    background-color: rgba(236, 66, 87, 0.05);
}

/* Contact Me */

.contact-me-text {
    text-align: center;
    margin: 80px 0 80px;
    font-size: 48px;
}

.contact {
    text-decoration-line: underline;
    text-decoration-color: #ec4257;
}

.contact-me-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    flex-wrap: wrap;
    transition: 1s;
}

.contact-me-div-left {
    background-color: #EC4257;
    width: 530px;
    height: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    position: relative;
    right: -60px;
    transition: 1s;
}

.contact-me-div-left a{
    color: white;
    transition: 0.5s;
    font-size: 16px;
}
.contact-me-div-left a:hover{
    transform: scale(1.1);
}
.contact-me-div-left p{
    font-size: 24px;
    transition: 1s;
}

.contact-me-div-right {
    background-color: #1c1c26;
    width: 580px;
    height: 556px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 1s;
    box-shadow: 1px 1px 10px rgb(236, 66, 87);

}

input {
    width: 100%;
    margin-bottom: 20px;
    background: none;
    border: 1px solid #EDF2F4;
    color: white;
    height: 25px;
    border-radius: 5px;
    transition: 1s;
}

textarea {
    width: 380px;
    background: none;
    border: 1px solid #EDF2F4;
    color: white;
    border-radius: 5px;
    transition: 1s;
}

.project-icon{
    display: flex;
    gap: 10px;
}
.project-icon i{
    cursor: pointer;
    transition: 0.5s;
    font-size: 24px;
}
.project-icon i:hover{
    transform: scale(1.3);
}


/* Footer Section */

.footer-div1{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #EC4257;
    margin-bottom: 15px;
}

.footer-div1 a{
    text-decoration: none;
    color: #EC4257;
    font-size: 18px;
}
.footer-div1 a:hover{
    color: rgb(214, 212, 212);
}
.footer-div2{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    color: #8D99AE;
}

/* Media Query */
@media(width <=1200px) {
    .contact-me-div-left {
        right: -30px;
        width: 430px;
    }

    .contact-me-div-right {
        width: 480px;
    }
}

@media(width <=909px) {
    .contact-me-div-left {
        right: 0;
    }
}


@media(width <=768px) {
    .hero-right img {
        height: 400px;
        width: 400px;
    }

    .bars {
        display: inline;
    }

    .menu-list {
        display: none;
    }

    .contact-me-div {}
}

@media(width <=525px) {
    .contact-me-div-left {
        width: 300px;
    }

    .contact-me-div-right {
        width: 350px;
    }
    textarea {
        width: 280px;
    }
    .contact-me-div-left p{
        font-size: 16px;
    }

}

@media(width <=425px) {
    .hero-right img {
        height: 300px;
        width: 300px;
    }

    .bars {
        display: inline;
    }

    .menu-list {
        display: none;
    }

    .about-me-right {
        transform: scale(1);
    }
}

@media(width <=375px) {
    .bars {
        display: inline;
    }

    .menu-list {
        display: none;
    }

    .about-me-right {
        transform: scale(1);
    }
    .contact-me-div {
        transform: scale(0.9);
    }
}

@media(width <=320px) {
    .bars {
        display: inline;
    }

    .menu-list {
        display: none;
    }

    .about-me-right {
        transform: scale(1);
    }
}

.theam {
    background-color: rgba(28, 28, 38, 0.1);
    color: #EC4257;
}

.theam_contact{
    color: white;
}